<div class="pb-5 text-primary hello">About.</div>
<h1 class="text-white">
    Hey, I’m a UX/UI Designer based in Orlando, FL.
</h1>
<p>The skill-set and know-how I possess covers a wide range of elements in online marketing, front-end development and
    UX/UI Design. </p>
<p>Since obtaining Bachelors in Fine Arts from the University of North Florida in 2004, I’ve focused on
    creating thoughtful, quality and relevant design while working at various design firms.</p>
<p>I am available for full time remote roles and freelancing projects, <a href="mailto:rockysegarra@icloud.com">lets
        talk.</a></p>
<!-- <div class="mt-5">
    <button class="btn btn-outline-primary mr-2">RESUME</button>
    <button class="btn btn-outline-primary">CONTACT</button>
</div> -->