<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-6 offset-md-3 m-3">
            <div class="d-flex flex-column" style="height: 100%;">
                <div class="mb-auto"></div>
                <div class="mb-auto text-center">
                    <span class="dot mb-4">
                        <img style="width: 100%;" src="assets/rockysegarra-avatar.png" loading="lazy"
                            alt="Rocky Segarra">
                    </span>
                    <a href="https://www.linkedin.com/in/rockysegarra/">
                        <h1 class="mb-3">Rocky Segarra <small class="icu">
                                <fa-icon [icon]="faLinkedin"></fa-icon>
                            </small></h1>
                    </a>
                    <h2 class="text-white text-uppercase mb-3">Orlando, FL</h2>
                    <p class="text-white">I'm a UI/UX designer working with big data companies, solving complex UX
                        challenges and
                        collaborating successfully with teams of all sizes. <br> Available for remote work.</p>
                    <ul class="nav justify-content-center icons">
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/rockysegarra">
                                <fa-icon [icon]="faTwitter"></fa-icon>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://medium.com/@rockysegarra">
                                <fa-icon [icon]="faMedium"></fa-icon>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.instagram.com/rockysegarra">
                                <fa-icon [icon]="faInstagram"></fa-icon>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/rockysegarra">
                                <fa-icon [icon]="faGithub"></fa-icon>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://dribbble.com/rockysegarra">
                                <fa-icon [icon]="faDribbble"></fa-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>