<div class="pb-3 text-primary hello">Hello!</div>
<h1 class="text-white">
    I'm Rocky Segarra — UX/UI Designer and
    Front-End Developer based in
    Orlando, FL.
</h1>
<!-- <div>— Currently at Express Scripts, Inc.</div> -->
<div class="mt-4">Read my latest UX/UI Case Study — <a
        href="https://medium.com/@rockysegarra/telemed-mobile-app-design-process-ux-ui-case-study-a122fe68ab30?source=friends_link&sk=c45fb531c68bb4290dc1f8c70ee6a1ae">TeleMed
        Mobile App Design Process</a></div>