<div class="pb-3 hello">Work.</div>
<div class="row mb-5">
    <!-- Portfolio Item 0-->
    <div class="col-lg-12 col-12 px-1 mb-2">
        <img style="width: 100%;" class="img-responsive" src="assets/port-1.jpg">
    </div>
    <div class="col-lg-12 col-12 px-1 mb-2">
        <img style="width: 100%;" class="img-responsive" src="assets/csd-ecomm.jpg">
    </div>
    <div class="col-lg-12 col-12 px-1 mb-2">
        <img style="width: 100%;" class="img-responsive" src="assets/port-2.png">
    </div>
    <div class="col-lg-12 col-12 px-1 mb-2">
        <img style="width: 100%;" class="img-responsive" src="assets/port-3.png">
    </div>
    <div class="col-lg-12 col-12 px-1 mb-2">
        <img style="width: 100%;" class="img-responsive" src="assets/port-5.png">
    </div>
    <div class="col-lg-12 col-12 px-1 mb-2">
        <img style="width: 100%;" class="img-responsive" src="assets/port-6.png">
    </div>
    <div class="col-lg-12 col-12 px-1 mb-2">
        <img style="width: 100%;" class="img-responsive" src="assets/port-4.jpg">
    </div>
</div>